<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002860473897-o1saenhavrr33dsae3epnrshp7rv2f1t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002860473897-o1saenhavrr33dsae3epnrshp7rv2f1t</string>
	<key>API_KEY</key>
	<string>AIzaSyAQaFMn7EmH-MMNjfpD5Zbb5Jnts5sxwqM</string>
	<key>GCM_SENDER_ID</key>
	<string>1002860473897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.willwesley.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-1a2ae</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-1a2ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002860473897:ios:4119c61d9a49447513b638</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-1a2ae.firebaseio.com</string>
</dict>
</plist>